{% extends 'stocks/base.html'%}
{% load static %}



{% block content%}
<br>
<br>
<br>
<br>
<div class="col-lg-3"></div>
<div class="container col-lg-6">
    <h3 class="center">hhh</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">序号</th>
      <th scope="col">股票名称</th>
      <th scope="col">股票代码</th>
      <th scope="col">删除</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td class="glyphicon glyphicon-remove"></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
</div>
{% endblock %}